/*========== common css =========*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E554731A;
    padding: 50px 240px 0 200px;
    margin-bottom: 178px;
}

.banner-text {
    width: 708px;
    margin-right: 97px;
}

.banner-text h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: normal;
    width: 708px;
}

.banner-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.button_primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: none;
}

.sign_up {
    margin-top: 215px;
    margin-bottom: 128px;
    padding: 200px 350px;
    background-color: #E554731A;
}

.sign_up_title {
    text-align: center;
}

.sign_up_parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign_up h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.sign_up p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 32px;
}

.common_title {
    width: 594px;
    text-align: center;
    margin: 0 auto;
}

.common_title h3 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.common_title p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 32px;
}

.insta_gallery {
    display: flex;
    justify-content: space-between;
    padding: 48px 240px 128px;
}

.deals {
    background: url(../images/deals.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 400px 250px;
    margin: 0 150px 128px 200px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info input {
    width: 700px;
    height: 64px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-left: 5px;
    margin-right: 16px;
}

.footer-bg {
    background: #111010;
    padding: 128px 232px 128px;
}

.footer_title {
    width: 594px;
    text-align: center;
    margin: 0 auto;
}

.footer_title h3 {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}

.footer_title span {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
}

.footer_title p {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copyright p{
    color: rgba(255, 255, 255, 0.212);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 32px;
}